<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LifeStyle</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="/js/script.js"></script>
    </head>

    <body>
        <section id="header">
            <a href="/"><img src="/img/LS logo black.png" alt="LifeScale" class="logo" height="70px" ></a>
            <div>
                <ul id="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/blog" class="active">Blog</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                    <button class="normal" onclick="window.location.href = '/login';">Login/Register</button>
                    <a href="#" id="close"><i class="far fa-times"></i></a>
                </ul>
            </div>
            <div id="mobile">
                <button class="normal" onclick="window.location.href = '/login';">Login/Register</button>
                <i id="bar" onclick="showNav()" class="fas fa-outdent"></i>
            </div>
        </section>
        
        <section id="page-header" class="blog-header">

            <h2>#readmore</h2>
            
            <p>Read all case studies about our products!</p>

        </section>

        <section id="blog">
            <div class="blog-box">
                <div class="blog-img">
                    <img src="../img/blog/b1.jpg" alt="">
                </div>
                <div class="blog-details">
                    <h4>The Cotton-Jersey Zip-Up Hoodie</h4>
                    <p>The Cotton-Jersey Zip-Up Hoodie is a comfortable and versatile garment, perfect for casual wear.
                         It features a convenient zip closure and is made from soft, breathable cotton fabric...
                    </p>
                    <a href="#">CONTINUE READING</a>
                </div>
                <h1>13/01</h1>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="../img/blog/b2.jpg" alt="">
                </div>
                <div class="blog-details">
                    <h4>How to Style a Quiff</h4>
                    <p>
                        Style a quiff by applying hair product, lifting hair upwards and back, then shaping into desired look.
                         Finish with hairspray for hold. Experiment with variations for personal style...
                    </p>
                    <a href="#">CONTINUE READING</a>
                </div>
                <h1>13/04</h1>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="../img/blog/b3.jpg" alt="">
                </div>
                <div class="blog-details">
                    <h4>Must-Have Skater Girl Items</h4>
                    <p>"Must-Have Skater Girl Items: Trendy skateboards, cool graphic tees, comfy sneakers, stylish beanies,
                         protective gear, rad sunglasses, and a fearless attitude for the ultimate skater girl look!"...
                    </p>
                    <a href="#">CONTINUE READING</a>
                </div>
                <h1>12/01</h1>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="../img/blog/b4.jpg" alt="">
                </div>
                <div class="blog-details">
                    <h4>Runway-Inspired Trends</h4>
                    <p>"Runway-Inspired Trends: Fashion-forward styles and designs influenced by the latest catwalk looks,
                         setting the pace for cutting-edge clothing and accessories in the industry."...
                    </p>
                    <a href="#">CONTINUE READING</a>
                </div>
                <h1>16/01</h1>
            </div>
            <div class="blog-box">
                <div class="blog-img">
                    <img src="../img/blog/b6.jpg" alt="">
                </div>
                <div class="blog-details">
                    <h4>AW20 Menswear Trends</h4>
                    <p>AW20 Menswear Trends: Embrace timeless classics with modern twists. Bold patterns, luxe fabrics, and
                         earthy tones dominate the runways, offering a sophisticated and stylish season ahead....
                    </p>
                    <a href="#">CONTINUE READING</a>
                </div>
                <h1>10/03</h1>
            </div>
        </section>

        <section id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
        </section>

        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletters</h4>
                <p>Get E-mail updates about our latest shop and <span>special offers.</span>
                </p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">Sign Up</button>
            </div>
        </section>

        <footer class="section-p1">
            <div class="col">
                <img class="footer-logo" src="../img/LS logo black.png" height="80px" >
                <h4>Contact</h4>
                <p><strong>Address:</strong> 123 Srinuvasupuram, Kovvur, AP, India</p>
                <p><strong>Phone:</strong> +01 1234 567</p>
                <p><strong>Hours:</strong> 10:00 - 18:00.Mon-Sat</p>
                <div class="follow">
                    <h4>Follow</h4>
                    <div class="icon">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <a href="/about">About Us</a>
                <a href="/contact">Delivery Information</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="/contact">Contact Us</a>
            </div>
            <div class="col">
                <h4>My Account</h4>
                <a href="/login">Sign In</a>
                <a href="/cart">View Cart</a>
                <a href="/cart">My Wishlist</a>
                <a href="#">Track My Order</a>
                <a href="/contact">Help</a>
            </div>
            <div class="col install">
                <h4>Install App</h4>
                <p>From App Store or Google Store</p>
                <div class="row">
                    <a href="https://www.apple.com/in/app-store/" target="_blank"><img src="../img/pay/app.jpg"></a>
                    <a href="https://play.google.com/store/apps" target="_blank"><img src="../img/pay/play.jpg"></a>
                </div>
                <p>Secured Payment Gateways</p>
                <img src="../img/pay/pay.png" alt="">
            </div>
            <div class="copyright">
                <p>&copy; 2023, LS Website</p>
            </div>
        </footer>
    </body>

</html>